<section class="food_section layout_padding-bottom">
    <div class="container">
      <div class="heading_container heading_center">
        <h2>
          Liste des Admins
        </h2>
      </div>

      <ul class="">
        <a href="{{path('AjouterAdmin')}}" class="btn btn-dark" >Ajouter</a>
      </ul>

      <div class="filters-content">
        <div class="row grid">
        {% for admin in admins %}
          <div class="col-sm-6 col-lg-4 all pizza">
            <div class="box">
              <div>
                <div class="img-box">
                  <img src="{{asset('images/AdminImages/')~ admin.image}}" alt="">
                </div>
                <div class="detail-box">
                  <h5>
                    {{ admin.nom }}
                  </h5>

                  <div class="d-flex justify-content-around"> 
                        <a href="{{ path('ModifierAdmin', {'id': admin.id}) }}" class="btn btn-danger" >Modifier</a>
                        <a href="{{ path('SupprimerAdmin', {'id': admin.id}) }}" class="btn btn-dark" >Supprimer</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
        </div>
      </div>
      <div class="btn-box">
        <a href="">
          Plus
        </a>
      </div>
    </div>
  </section>