{% extends 'base.html.twig' %}

{% block class %} sub_page {% endblock %}

{% block ListMenu %}
<section class="u-align-center u-clearfix u-grey-90 u-valign-top-lg u-valign-top-md u-valign-top-xl u-section-1" id="carousel_c8dc">
    <div class="u-expanded-width-xs u-palette-3-base u-shape u-shape-rectangle u-shape-1"></div>
    <div class="u-clearfix u-gutter-20 u-layout-wrap u-layout-wrap-1">
      <div class="u-layout">
        <div class="u-layout-row">
          <div class="u-container-style u-layout-cell u-left-cell u-size-20 u-layout-cell-1" style="margin-left:-10px">
            <div class="u-container-layout u-valign-bottom-lg u-valign-bottom-md u-valign-bottom-xl u-container-layout-1">
              <p class="u-text u-text-1" style="margin-left:-100px" data-animation-name="bounceIn" data-animation-duration="1000" data-animation-direction=""> <div class="heading_container heading_center">
        <h2 style="margin-left:-10px">
            Vous ne retrouverai ce goût nulle part ailleurs
        </h2>
      </div></p>
              <img class="u-expanded-width u-image u-image-1" src="{{asset('images/Apropos/image1.jpg')}}" data-animation-name="flipIn" data-animation-duration="1000" data-animation-direction="X">
            </div>
          </div>
          <div class="u-container-style u-layout-cell u-size-20 u-layout-cell-2">
            <div class="u-container-layout u-container-layout-2">
              <img class="u-expanded-width u-image u-image-2" src="{{asset('images/Apropos/image2.jpg')}}" data-animation-name="pulse" data-animation-duration="1000" data-animation-direction="">
            </div>
          </div>
          <div class="u-align-right u-container-style u-layout-cell u-right-cell u-size-20 u-layout-cell-3" data-animation-name="flipIn" data-animation-duration="1000" data-animation-direction="X">
            <div class="u-container-layout u-container-layout-3">
              <img class="u-expanded-width u-image u-image-3" src="{{asset('images/Apropos/image3.jpg')}}">
              <p class="u-text u-text-2" data-animation-name="bounceIn" data-animation-duration="1000" data-animation-direction=""> &nbsp; ​ </p>
              <div class="heading_container heading_center">
        <h2>
          Venez decouvrire nos savoureux burgers
        </h2>
      </div>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  
<section class="u-clearfix u-palette-3-base u-section-2" id="sec-cb3a">
      <div class="u-clearfix u-sheet u-sheet-1">
        <div class="u-clearfix u-expanded-width u-gutter-50 u-layout-wrap u-layout-wrap-1">
          <div class="u-layout">
            <div class="u-layout-row">
              <div class="u-align-left u-container-style u-layout-cell u-left-cell u-size-30 u-layout-cell-1">
                <div class="u-container-layout u-container-layout-1">
                  <div class="u-expanded u-video">
                    <div class="embed-responsive embed-responsive-1">
                      <iframe style="position: absolute;top: 0;left: 0;width: 100%;height: 100%;" class="embed-responsive-item" src="{{asset('video/burger.mp4')}}" frameborder="0" allowfullscreen=""></iframe>
                    </div>
                    
                  </div>
                </div>
              </div>
              <div class="u-align-left u-container-style u-image u-layout-cell u-right-cell u-size-30 u-image-1"  data-image-width="1920" data-image-height="1080">
                <img src="{{asset('images/Apropos/image4.jpg')}}">
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  
  
  
  
  {% endblock%}