<!DOCTYPE html>
<html>

<head>
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <link rel="shortcut icon" href="{{asset('images/Mr Burger.png')}}" type="">

  <title> Mr Burger </title>

  <!-- bootstrap core css -->
  {% block css %}
  <link rel="stylesheet" type="text/css" href="{{asset('css/bootstrap.css')}}" />

  <!--owl slider stylesheet -->
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />
  <!-- nice select  -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/css/nice-select.min.css" integrity="sha512-CruCP+TD3yXzlvvijET8wV5WxxEh5H8P4cmz0RFbKK6FlZ2sYl3AEsKlLPHbniXKSrDdFewhbmBK5skbdsASbQ==" crossorigin="anonymous" />
  <!-- font awesome style -->
  <link href="{{asset('css/font-awesome.min.css')}}" rel="stylesheet" />
  <link rel="stylesheet" href="{{asset('css/nicepage/nicepage.css')}}" media="screen">
  <link rel="stylesheet" href="{{asset('css/nicepage/About.css')}}" media="screen">
  <!-- Custom styles for this template -->
  <link href="{{asset('css/style.css')}}" rel="stylesheet" />
  <!-- responsive style -->
  <link href="{{asset('css/responsive.css')}}" rel="stylesheet" />
  {% endblock %}

</head>

<body class="{% block class %} {% endblock %}">
  <div class="hero_area">
    <div class="bg-box">
      <img src="{{asset('images/bg.jpg')}}" style="filter: brightness(70%);" alt="">
    </div>
    
    <!-- header section strats -->
    {% block menu %}
        {% include 'Chili/menu.html.twig' %}
    {% endblock %}
    <!-- end header section -->
    <!-- slider section -->
    {% block header %}
    
    {% endblock %}
    <!-- end slider section -->
  </div>

  <!-- offer section -->
  {% block offer %}
  
  {% endblock %}

  <!-- end offer section -->

  <!-- food section -->
  {% block ListMenu %}
 
  {% endblock %}

  <!-- end food section -->

  <!-- about section -->
  {% block APropos %}
  
  {% endblock %}

  <!-- end about section -->

  <!-- book section -->
  {% block Contact %}
  
  {% endblock %}
  <!-- end book section -->

  <!-- client section -->
  {% block ClientComment %}

  
  {% endblock  %}
  <!-- end client section -->

  <!-- footer section -->
  {% block footer %}
    {% include 'Chili/footer.html.twig' %}
  {% endblock  %}
  <!-- footer section -->

  <!-- jQery -->
  <script src="{{asset('js/jquery-3.4.1.min.js')}}"></script>
  <!-- popper js -->
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
  </script>
  <!-- bootstrap js -->
  <script src="{{asset('js/bootstrap.js')}}"></script>
  <!-- owl slider -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js">
  </script>
  <!-- isotope js -->
  <script src="https://unpkg.com/isotope-layout@3.0.4/dist/isotope.pkgd.min.js"></script>
  <!-- nice select -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/js/jquery.nice-select.min.js"></script>
  <!-- custom js -->
  <script src="{{asset('js/custom.js')}}"></script>
  <!-- Google Map -->
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCh39n5U-4IoWpsVGUHWdqB6puEkhRLdmI&callback=myMap">
  </script>
      <script class="u-script" type="text/javascript" src="{{asset('js/nicepage/nicepage.js')}}" defer=""></script>
      <meta name="generator" content="Nicepage 4.9.5, nicepage.com">
      <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
      
      <script type="application/ld+json">{
      "@context": "http://schema.org",
      "@type": "Organization",
      "name": "",
      "logo": "images/default-logo.png"
  }</script>
  <!-- End Google Map -->

</body>

</html>